<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Playlist Sorter</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <div id="instructions">
    <span>For playlist Id, please copy the Id after "list=" in a youtube playlist link</span>
    <img id="instructionsPic" src="/assets/img/instructions.png" alt="instructions"></img>
  </div>

  <section id="addPlaylist">
  </section>
  <div id="message" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
    <div id="playlistHeader">Playlists</div>
  <section id="showPlaylists">
  </section>
<hr></hr>
  <div id="container">
    <section id="videos">

    </section>

    <section id="newPlaylist">
    <div id="executeButtons"></div>
    </section>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>

</html>