html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #40414f;
}


#instructions {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color:white;
    padding-bottom: 3px;
    padding-top: 2px;
}

#instructionsPic {
    height: 20px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #202123;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 5px;
    background-color: #f34141;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #f12020;
}

.playlistForm {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 35px;
    width: 100%;
    margin-top: 0px;
    padding-top: 10px;
    background-color: #202123;
}

.playlistForm label {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 110px;
    background-color: #f34141;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link,
.makeDomoSubmit:visited,
.makeDomoSubmit:hover,
.makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #f12020;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #f34141;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#message {

    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#message h3 {

    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index: 300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}


#showPlaylists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#container {
    display: flex;
    margin-top: 70px;
}

#videos {
    width: 47%;
    min-width: 30%;
    border: 2px solid black;
    margin-right: 3px;
    border-radius: 4px;
}

.videoList {
    overflow-y: scroll;
    max-height: 300px;
}
#newPlaylist {
    border: 2px solid black;
    border-radius: 4px;
    flex: 1;
}

.playlist {
    width: 200px;
    height: 200px;
    background-color: #ef2f2f;
    margin: 10px;
    display: grid;
    border: 3px solid black;
    border-radius: 5px;
}

.video {
    border: 2px solid black;
    border-radius: 4px;
    color:white;
    background-color: #202123;
}

.playlist:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255, 255, 255, 0.8);
    transition: background-color 2s ease-out;
    background-color: #c70000;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top: 10px;
    float: left;
}

h3.emptyDomo {
    width: 500px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding-left: 2px;
    font-size: 1.5em;
    border-bottom: 2px solid black;
    overflow-x: hidden;
}

h3.domoAge {
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding-left: 2px;
    font-size: 1em;
}